# Chave de API do OpenRouter (Obrigatória)
OPENROUTER_API_KEY=sk-or-v1-XXXXXXXXXXXXXXXXXXXXXXXXXx
MODEL_NAME=google/gemini-2.5-flash-lite

# Nome da Skill
ALEXA_SKILL_ID=amzn1.ask.skill.XXXXXXXXXXXXXXXXXXXXXXXXx

# Configurações do Supabase (para gerenciar Skill IDs)
SUPABASE_URL=https://XXXXXXXXXXXXXXXXXXXXXX.supabase.co
SUPABASE_SERVICE_ROLE_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Credenciais do Painel de Controle
DASHBOARD_USER=admin
DASHBOARD_PASS=XXXXXXXXXXXXX
FUNCTION_BASE_URL=https://us-central1-alexa-inteligente.cloudfunctions.net/alexa-llm-go

# Outras configs
DEBUG=True
ALEXA_SECRET_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXX