# Chave de API do OpenRouter (Obrigatória)
OPENROUTER_API_KEY=sk-or-v1-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MODEL_NAME=openai/gpt-3.5-turbo # Você pode mudar para qualquer um no OpenRouter

# Nome da Skill
ALEXA_SKILL_ID=amzn1.ask.skill.xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# Outras configs
DEBUG=True
